body {
    font-family: 'flaticon';
    background-color: #E7F3FC !important;
  }

.titleCss {
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    color:#0771C1;
    padding:30px;
}

.displayBlock {
    display: block;
}

.displayInlineBlock {
    display: inline-block;
    padding:20px;
}

.iframeDiv {
    width: 100%;
}

.iframeCss {
    border-radius: 10px;
    overflow: hidden;
    padding: 0p;
    border: 0px;
}

.iframeSmallKPI {
    height: 240px;
    width:100%;
}

.marginBottom10px {
    margin-bottom:10px;
}

.iframeBigKPI {
    height: 500px;
    width:100%;
}

.width100Percentage {
    width: 100%;
    display: block;
    padding-right: 20px;
    padding-left: 20px;
}

.width30Percentage {
    width: 30%;
}

.width40Percentage {
    width: 40%;
}

.width34Percentage {
    width: 34%;
}

.width32Percentage {
    width: 32%;
}
