body {
    font-family: 'flaticon';
    background-color: #E7F3FC !important;
  }

.titleCss {
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    color:#0771C1;
    padding-top:50px;
    padding-bottom:50px;
}

.padding20px {
    padding:20px;
}

.propertyIframeCss {
    border-radius: 10px;
    overflow: hidden;
    padding: 0p;
    border: 0px;
    height: 600px;
}