.breadCrumbHeader {
  color: #008dc4;
  font-size: 30px;
  cursor: pointer;
  min-width: 200px;
  padding: 10px 0px 0px 20px;
}

.sub-menu {
  /* outline: 2px dashed red; */
  min-height: 300px;
  background-image: url("../../assets/img/banner.png");
  width: 100%;
}

.alignCenter {
  text-align: center !important;
}

.mh-100 {
  height: 100px;
}
.inline-block {
  display: inline-block;
}
.page-logo-landing {
  padding: 50px 0px 0px 50px;
  display: inline-block;
}

.page-logo-landing a {
  color: #044f95;
  font-size: 1em;
  font-weight: normal;
  padding: 0;
}

.page-logo {
  padding: 20px 50px 0px 20px;
  display: inline-block;
  background-color: lightgray;
}

.page-logo a {
  color: #044f95;
  font-size: 1em;
  font-weight: normal;
  padding: 0;
}
.no-padding-and-margin {
  padding: 0px !important;
  margin: 0px !important;
}

.user-profile {
  height: 90px;
}

.profile-menu-landing {
  position: absolute;
  top: 20px;
  right: 20px;
}

.profile-menu {
  position: absolute;
  top: 0px;
  right: 0px;
}

.search-png {
  max-height: 50px;
  padding: 12px 0 0 0;
}

a.hover:hover {
  background-color: #06528b;
  border-radius: 10px;
  width: 80%;
  cursor: pointer;
}

a.active {
  background-color: #06528b;
  border-radius: 10px;
  width: 80%;
  cursor: pointer;
}

a.activeCollapsed {
  background-color: #06528b;
  border-radius: 10px;
  width: 50%;
  cursor: pointer;
}

a.hoverCollapsed:hover {
  background-color: #06528b;
  border-radius: 10px;
  width: 50%;
  cursor: pointer;
}

div.bgColor {
  background-color: #0771c1;
  height: 100%;
}

.bgColor > div {
  display: block;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
  margin-left: 30px;
  color: white;
  position: relative;
}
