.breadCrumbHeader {
  color: #008dc4;
  font-size: 40px;

  min-width: 200px;
}

.sub-menu {
  /* outline: 2px dashed red; */
  min-height: 300px;
  background-image: url("../../assets/img/banner.png");
  width: 100%;
}

.alignCenter {
  text-align: center !important;
}

.page-logo {
  padding: 10px;
}

.page-logo a {
  color: #044f95;
  font-size: 1em;
  font-weight: normal;
}

.no-padding-and-margin {
  padding: 0px !important;
  margin: 0px !important;
}

.user-profile {
  height: 90px;
}

.profile-menu {
  text-align: right;
}
