.breadCrumbHeader{
    color: #008DC4;
    font-size: 40px;
}

.alignCenter {
  text-align: center !important;
}

.page-logo {
    padding: 10px;
}

.page-logo a {
    color: #044F95;  
    font-size: 1em;
    font-weight: normal;
}