.cards2Page{ 
    float: left;
    width: 100%
}

.cards2Page  .page-content {
    margin-left: 235px;
    margin-top: 0;
    min-height: 90%;
    padding: 40px 20px 10px
}
.firstRow {
    display: grid;
    grid-template-columns: 3fr 6fr 3fr;
    grid-template-rows: 4fr 12px;
    grid-column-gap: 12px;
    grid-row-gap: 12px;
}

.firstRowCol1 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 12px;
}

.secondRow {
    display: grid;
    grid-template-columns: 4fr 4fr 4fr;
    grid-template-rows: 8fr;
    grid-column-gap: 12px;
    grid-row-gap: 12px; 
    min-height: 500px;
}

.ts-frame{ 
    border-width: 2px; 
    height: 100%;
    border-radius: 25px;
    /* border: 2px dashed #73AD21; */
    padding: 20px;
    background-color: white;
}
.ts-frame iframe{
    height: 100%;
    width: 100%;
}