/* .iframeCssNew {
    position: relative;
    height: 170px;
    width: 100%; 
    color: #231f20;
    border-radius: 10px;
    overflow: hidden;
    padding: 0p;
    border: 1px solid #717171;
  } */

  .page-content-wrapper {
    float: left;
    width: 100%
  }
  
  .page-content-wrapper .page-content {
    margin-left: 235px;
    margin-top: 0;
    min-height: 600px;
    padding: 40px 20px 10px
  }
  
  .page-content-wrapper .page-content.no-min-height {
    min-height: auto
  }

  .min-ht200 {
    min-height: 200px;
  }
  
  .min-ht300 {
    min-height: 300px;
  }
  
  .min-ht100 {
    min-height: 90px;
  }
  
  .min-ht250 {
    min-height: 258px;
  }