div.bgColor {
    background-color: #0771C1;   
    height: 100%;
    min-height: 450px;
    color: white;
}

div.bgColorCollapsed {
    background-color: #0771C1;   
    height: 100%;
    min-height: 450px;
    color: white;
    text-align: center;
}

div.topLeftDiv {
    background-color: #EFEDED;
    cursor: pointer;
    display:table-cell; 
    vertical-align:middle; 
    text-align:center
}

div.topLeftDivCollapsed {
    background-color: #EFEDED;
    padding: 10px;
    cursor: pointer;
    text-align: center;
    vertical-align: middle;
    height: 150px;
}

div.topLeftDiv > img {
    margin-left: auto;
    margin-right: auto;
    max-width: 70%;
}

div.topLeftDivCollapsed > img {
    height: 50px;
    position: fixed;
    top: 40px;
    left: 10px;
}

div.menu {
    display: block;
    position: relative;
    width: 100%;
    margin-left: 5%;
}

div.collapsedMenu {
    margin-left: 5%;
    height: 40px;
}

.menuIconDiv {
    display:inline-block;
    margin-right: 15px;
    height: 40px;
}

.centerCss {
    text-align: center;
}

 .menuTitle {
    font-size: 18px;
    margin: initial !important;
    line-height: initial !important;
    /* transform: scaleY(1.4); */
    letter-spacing: 0.5px;
 }

 .paddingTop50px {
    padding-top: 50px;
 }

 div.itemContainer {
    /* padding-top: 20px;
    padding-bottom: 20px; */
    padding-block: 5px;
    width: 85%;
    margin-left: 5%;
    margin-right: 5%;
    margin-block-end: 0.5em;
 }

 .itemContainerCollapsed {
    /* padding-top: 20px;
    padding-bottom: 20px; */
    padding-block: 5px;
    margin-left: 10px;
    margin-right: 10px;
    margin-block-end: 0.5em;
 }

 div.hover:hover {
    background-color: #06528B;
    cursor: pointer;
    border-radius: 10px;
 }

 div.active {
    background-color: #06528B;
    cursor: pointer;
    border-radius: 10px;
 }
 
 div.activeCollapsed {
    background-color: #06528B;
    cursor: pointer;
    border-radius: 10px;
 }

 div.hoverCollapsed:hover {
    background-color: #06528B;
    cursor: pointer;
    border-radius: 10px;
 }

 div.menuText {
    display: inline-flex;
    align-items: center;
    position: absolute;
    /* margin-top: 7px; */
    height: 100%;
 }

 div.menuText p {
     /* margin-top:initial !important;
     margin-bottom:initial !important; */
     width: 100%;
 }

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {

font-size: 40px !important;

}

@media only screen and (min-height: 900px) {
    div.bgColor, div.bgColorCollapsed {
        min-height: 700px;
    }
}

@media only screen and (min-width: 1600px) {
    div.itemContainer {
        width:70%;
        margin-left: 15%;
        margin-right: 15%;
    }
    div.itemContainerCollapsed {
        margin-left: 20px;
        margin-right: 20px;
    }
    .menuTitle {
        transform: scaleY(1.5);
     }
     div.topLeftDivCollapsed > img {
        left: 20px;
     }
}

