body {
    font-family: 'flaticon';
    background-color: #E7F3FC !important;
}

.mainDiv {
    display: block;
    width: 100%;
    min-height: 550px;
    position: relative;
}

div.textBlock p {
    color: black;
    font-size: 22px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: 400;
}

.blueColor {
 color:#0771C1 !important;   
}

.textBlock {
    display: inline-block;
    width: 30%;
    text-align: left;
    vertical-align: middle;
    left: 2%;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.Divblock {
    display: inline-block;
    text-align: right;
    width: 70%;
    position: absolute;
    top: 50%;
    right: 2%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.displayBlock {
    display: block;
}
.displayInlineBlock {
    display: inline-block;
    width: 50%;
    padding-top: 5px;
    padding-bottom: 5px;
}
