body {
  font-family: "flaticon";
  background-color: #e7f3fc !important;
}

div.textBlock p {
  color: black;
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: 400;
}

.blueColor {
  color: #0771c1 !important;
}

.textBlock {
  display: inline-block;
  padding-left: 80px;
  text-align: left;
  padding-top: 60px;
  vertical-align: top;
}

.mainDiv {
  display: grid;
  margin-top: 20px;
  grid-template-columns: 400px repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr) 10px;
  height: 100%;
  grid-gap: 20px;
  grid-template-areas:
    "textBlock topLeft topRight"
    "textBlock bottomLeft bottomRight"
    "textBlock .         .           ";
}

.topLeft {
  grid-area: topLeft;
  width: 100%;
  height: 100%;
}

.topRight {
  grid-area: topRight;
  width: 100%;
  height: 100%;
}

.bottomLeft {
  grid-area: bottomLeft;
  width: 100%;
  height: 100%;
}

.bottomRight {
  grid-area: bottomRight;
  width: 100%;
  height: 100%;
}

.textBlock {
  grid-area: textBlock;
}
