html {
  -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    background-color: #fdfafa;
}

body {
  margin: 0 20px 20px 20px;
  font-family: ProximaNova-Light,Verdana,Arial,Helvetica,sans-serif -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}