.ui.grid>.column:not(.row), .ui.grid>.row>.column {
  padding-left: initial !important;
  padding-right: initial !important;
}

.ui.grid>.column:not(.row) {
  padding-top: initial !important;
  padding-bottom: initial !important;
}

.top {
  top: 0;
  position: absolute;
}

.left {
  left: 0;
  position: absolute;
}

.width95Percentage {
  width: 95%;
  padding-left: initial !important;
  padding-right: initial !important;
}

.width05Percentage {
  width: 5%;
  padding-left: initial !important;
  padding-right: initial !important;
}

.width80Percentage {
  display: block;
  width: 80%;
  padding-left: initial !important;
  padding-right: initial !important;
}

.width20Percentage {
  width: 20%;
  padding-left: initial !important;
  padding-right: initial !important;
}

.fullWidth {
  width: 100%;
  text-align: center;
  bottom: 0 !important;
  position: fixed !important;
  background-color: #7A7A7A;
  height: 42px;
}

.ui.grid {
  margin : initial !important;
}

body {
  font-family: "flaticon", "Helvetica Neue", Arial, Helvetica, sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "flaticon", "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.ui.button {
  font-family: "flaticon", "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.ui.text.container {
  font-family: "flaticon", "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.ui.header {
  font-family: "flaticon", "Helvetica Neue", Arial, Helvetica, sans-serif;
}

i.icon.calcuflaticonr:before {
  content: "\f1ec";
}

.ui.input > input {
  font-family: "flaticon", "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.ui.list .list > .item .header,
.ui.list > .item .header {
  font-family: "flaticon", "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.ui.steps .step .title {
  font-family: "flaticon", "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.ui.form input:not([type]),
.ui.form input[type="date"],
.ui.form input[type="datetime-local"],
.ui.form input[type="email"],
.ui.form input[type="number"],
.ui.form input[type="password"],
.ui.form input[type="search"],
.ui.form input[type="tel"],
.ui.form input[type="time"],
.ui.form input[type="text"],
.ui.form input[type="file"],
.ui.form input[type="url"] {
  font-family: "flaticon", "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.ui.message .header {
  font-family: "flaticon", "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.ui.cards > .card > .content > .header,
.ui.card > .content > .header {
  font-family: "flaticon", "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.ui.items > .item > .content > .header {
  font-family: "flaticon", "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.ui.statistics .statistic > .label,
.ui.statistic > .label {
  font-family: "flaticon", "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.ui.accordion .title:not(.ui) {
  font-family: "flaticon", "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.ui.modal > .header {
  font-family: "flaticon", "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.ui.popup > .header {
  font-family: "flaticon", "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.ui.search > .results .result .title {
  font-family: "flaticon", "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.ui.search > .results > .message .header {
  font-family: "flaticon", "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.ui.category.search > .results .category > .name {
  font-family: "flaticon", "Helvetica Neue", Arial, Helvetica, sans-serif;
}