.features_container {
  display: grid;
  justify-content: center;
  align-items: center;
  width: 100vw;
  padding-bottom: 30px;
}

.features {
  display: grid;
  grid-template-columns: repeat(4, minmax(250px, 1fr));
  background-color: white;
  margin-top: -30px;
  max-width: 1100px;
  min-width: 600px;
}

.feature-item {
  display: grid;
  grid-template-rows: auto auto auto;
  height: 100%;
}

.feature-row1 {
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
  text-align: left;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  outline: none;
  margin-top: 0;
  font-family: "PT Sans", sans-serif;
  line-height: 1.5;
  color: #ea7317 !important;
  font-size: 46px;
  margin-bottom: 5px;
  font-weight: 600;
}

.feature-row2 {
  -webkit-text-size-adjust: 100%;
  --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
  text-align: left;
  -webkit-font-smoothing: antialiased;
  line-height: 1.6;
  box-sizing: border-box;
  outline: none;
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  font-style: normal;
  color: #1b1a1a;
  font-weight: 600;
}

.feature-row3 {
  -webkit-text-size-adjust: 100%;
  --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
  font-weight: 400;
  text-align: left;
  -webkit-font-smoothing: antialiased;
  font-family: "Roboto", sans-serif;
  color: #1b1a1a;
  box-sizing: border-box;
  outline: none;
  margin-top: 0;
  line-height: 1.6;
  font-size: 15px;
  margin-bottom: 13px;
}

.partner-logo {
  width: 48px;
  padding: 6px;
}

.partner-logo-long {
  width: 120px;
  padding: 6px;
  margin-right: 100px;
}
