.root {
  display: grid;
  grid-template-columns: 300px auto max-content;
  height: 100%;
}

.logo-default-landing {
  display: inline-block;
  width: 250px;
}

.logo {
  display: grid;
  padding-left: 50px;
  align-items: center;
}

.logo a {
  color: #044f95;
  font-size: 1em;
  font-weight: normal;
  padding: 0;
}

.spacer {
  background-color: beige;
}

.right-menu {
  /* background-color: rgb(193, 218, 218); */
  display: grid;
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margins */
  grid-template-columns: 75px 75px 75px 75px 75px 240px;
  column-gap: 30px;
}

.right-menu-item {
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
  -webkit-font-smoothing: antialiased;
  font-family: "Roboto", sans-serif;
  list-style: none;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
  transition: color 0.3s ease;
  white-space: nowrap;
  font-size: 15px;
  font-weight: 700;
  text-transform: capitalize;
  display: block;
  position: relative;
  color: #1b1a1a;
  line-height: 90px;
  letter-spacing: 0.4px;
}

.last-menu-item {
  background-color: rgb(35, 100, 170);
  color: white;
}

.last-menu-item a {
  color: white;
}
