.parent {
  display: grid;
  grid-template-columns: auto auto 250px;
  grid-template-rows: 90px 850px auto 50px;
  grid-template-areas:
    "header header header"
    "main main main"
    "features features features"
    "bcfooter bcfooter bcfooter";
  height: 100vh;
  grid-auto-flow: row;
  overflow: auto;
}

.header {
  grid-area: header;
}

.main {
  grid-area: main;
  background-image: url("../../assets/img/9-mini.jpeg");
  background-size: cover;
  background-position: center center;
  min-height: 250px;
  width: 100vw;
}

.bcfooter {
  grid-area: bcfooter;
  display: grid;
  align-items: center;
  justify-items: center;
  background-color: white;
  width: 100vw;
}

.features {
  grid-area: features;
  width: 100vw;
  min-height: 200px;
  background-color: transparent;
}

@media (max-width: 600px) {
  .parent {
    grid-template-columns: minmax(1fr, 600px);
    grid-auto-rows: auto;
    grid-template-rows: 90px auto auto minmax(500px, 1fr) 50px;
    grid-template-areas:
      "header"
      "main"
      "features"
      "."
      "bcfooter";
  }
}
