.parent {
  display: grid;
  grid-template-columns: auto auto 250px;
  grid-template-rows: 90px 850px 200px 50px;
  grid-template-areas:
    "header header header"
    "main main main"
    "features features features"
    ". . ."
    "bcfooter bcfooter bcfooter";
  height: 100vh;
}

.header {
  grid-area: header;
}

.main {
  grid-area: main;
  background-image: url("../../assets/img/9-mini.jpeg");
  min-height: 250px;
}

.bcfooter {
  grid-area: bcfooter;
  display: grid;
  align-items: center;
  justify-items: center;
  background-color: white;
}

.features {
  grid-area: features;
  width: 100vw;
  min-height: 200px;
}

.grid-area {
  /* background-color: #faf9f5; */
  /* border-radius: 10px;
  font: 25px Georgia;
  border: 5px solid #949494; */
  /* text-align: center; */
}

@media (max-width: 600px) {
  .parent {
    grid-template-columns: auto 1fr auto;
    grid-template-rows: 90px auto auto 50px;
    grid-template-areas:
      "header"
      "main"
      "features"
      "bcfooter";
    height: 100vh;
  }
}
